<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormmain {
=======
.ContactUSFormmain {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 80%;
  height: fit-content;
  margin: 3% auto;
  margin-top: -4%;
  z-index: 2;
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormContent {
=======
.ContactUSFormcontent {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 40%;
  height: fit-content;
  padding: 1%;

  border-right: 2px solid #ef4c23;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormContent > h1 {
=======
.ContactUSFormcontent > h1 {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  font-size: 30px;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 10px;
  padding: 2%;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormContent > h1:hover {
=======
.ContactUSFormcontent > h1:hover {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  color: #ef4c23;
  background: white;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormContent > p {
=======
.ContactUSFormcontent > p {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  font-size: 16px;
  color: #495057;
  width: 80%;
  margin: 2% auto 2% auto;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormInfo {
=======
.ContactUSForminfo {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 80%;
  margin: 2% auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormContent > h2 {
=======
.ContactUSFormcontent > h2 {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 70%;
  margin: 1% auto 2% auto;
  font-size: 20px;
  cursor: pointer;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormContent > h2:hover {
  color: #ef4c23;
}

.contactUSFormInfo > h2 {
=======
.ContactUSFormcontent > h2:hover {
  color: #ef4c23;
}

.ContactUSForminfo > h2 {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 45%;
  margin-bottom: 2%;
  margin-top: 1%;

  font-size: 18px;
  cursor: pointer;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormInfo > h2:hover {
  color: #ef4c23;
}

.ContactUSFormSocial {
=======
.ContactUSForminfo > h2:hover {
  color: #ef4c23;
}

.ContactUSFormsocial {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 80%;
  margin: 3% auto 3% auto;

  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: flex-start;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormSocial > a > svg {
=======
.ContactUSFormsocial > a > svg {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 25px;
  height: 25px;
  color: #393939;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.ContactUSFormSocial > a:hover svg {
  color: #ef4c23;
}

.contactUSFormFormOuterMain {
=======
.ContactUSFormsocial > a:hover svg {
  color: #ef4c23;
}

.ContactUSFormformoutermain {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 50%;
  height: fit-content;
  padding: 3%;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormFormOuterMain > h1 {
=======
.ContactUSFormformoutermain > h1 {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  margin-bottom: 4%;
  font-size: 35px;
  color: #ef4c23;
  text-align: center;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormFormSection {
=======
.ContactUSFormformSection {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1%;
  row-gap: 30px;
  color: #393939;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormInputWithIcon {
=======
.ContactUSForminputWithIcon {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  box-sizing: border-box;
  width: 47%;
  display: flex;
  align-items: center;
  column-gap: 1%;
  border-bottom: 2px solid #d0d0d0;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormInputPart {
=======
.ContactUSForminputPart {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  box-sizing: border-box;
  border: none;
  color: #393939;

  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormInputPart::placeholder {
=======
.ContactUSForminputPart::placeholder {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  color: #393939;

  font-weight: 600;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormPhoneNumber {
=======
.ContactUSFormphoneNumber {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 30%;
  box-sizing: border-box;
  box-sizing: border-box;
  color: #393939;
  margin-left: -5%;

  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 2px solid #d0d0d0;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormPhoneNumber::placeholder {
=======
.ContactUSFormphoneNumber::placeholder {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  color: #393939;

  font-weight: 600;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormMessagePart {
=======
.ContactUSFormmessagePart {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: #393939;

  background: none;

  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 2px solid #d0d0d0;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormMessagePart::placeholder {
=======
.ContactUSFormmessagePart::placeholder {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  font-weight: 600;
  color: #393939;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormPhoneClass {
=======
.ContactUSFormphoneClass {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 15%;
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d0d0d0;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormCountryCode {
=======
.ContactUSFormcountryCode {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 90%;
  box-sizing: border-box;
  font-size: 14px;
  background: none;
  padding: 10px 0;
  font-weight: 600;
  color: #393939;

  outline: none;
  border: none;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormCountryCode > option {
  color: #393939;
}

.contactUSFormSelectClass {
=======
.ContactUSFormcountryCode > option {
  color: #393939;
}

.ContactUSFormselectClass {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 47%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d0d0d0;
  color: #393939;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormSelectPart {
=======
.ContactUSFormselectPart {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 90%;
  box-sizing: border-box;
  font-size: 16px;
  /* color: rgb(125, 118, 118); */
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  color: #393939;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormSelectPart > option {
  color: #393939;
}

.contactUSFormTextareaClass {
=======
.ContactUSFormselectPart > option {
  color: #393939;
}

.ContactUSFormtextareaClass {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  width: 100%;
  color: #393939;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormFormMessageIcon {
=======
.ContactUSFormformMessageIcon {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  margin-right: 5px;
  color: #393939;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormTextareaClass > label {
=======
.ContactUSFormtextareaClass > label {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  color: #393939;

  font-weight: 600;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormRobotCaptcha {
=======
.ContactUSFormrobotCaptcha {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  display: flex;
  justify-content: center;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormRobotCaptcha button {
=======
.ContactUSFormrobotCaptcha button {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  padding: 10px 60px;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  background-color: #ef4c23;
  font-weight: 600;
  border: 2px solid #ef4c23;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

<<<<<<< HEAD:pages/ContactUS/ContactUSForm/ContactUSForm.module.css
.contactUSFormRobotCaptcha button:hover {
=======
.ContactUSFormrobotCaptcha button:hover {
>>>>>>> 9d3c93b68125efdf3f86f9543183944c50a7cea3:components/ContactUS/ContactUSForm/ContactUSForm.module.css
  color: #ef4c23;
  background-color: white;
}
