.servicesolutionVisible {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  z-index: 100000000;

  height: 445px;
  position: fixed;
  background-color: white;
  /* border-top: 1px solid black; */

  top: 78px;
}

.servicesideNav {
  width: 10%;
  padding: 40px 0;
  background-color: #ef4c23de;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.servicesideNav > div {
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
  color: white;
  /* background-color: white; */
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #ef4c23de;
  /* border-radius: 5px; */
  /* margin-top: 3px; */
  height: 40px;
}

.servicesideNav > div > h6 {
  margin: 0;
}

.serviceactivetoggle {
  background-color: white;
}

.serviceactivetoggle > h6 {
  color: black;
  font-size: 18px;
  transition: all 0.2s linear;
}

.servicedropdownSection {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 30px;
}

#serviceDropContent {
  width: 40%;
}
.serviceDropdownContent {
  height: 100%;
  width: 20%;
}

.serviceDropdownContent > h4 {
  color: #ef4c23;
}

.servicenoStyle {
  text-decoration: none;
  color: #ef4c23;
  cursor: pointer;
  
}

.servicenoStyle:hover {
  text-decoration: none;
  color: #ef4c23;
}