.ContactUSBannermain {
  height: 90vh;
  background: #f5f5f5;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ContactUsBannerimage {
  width: 35%;
  height: 60%;
  text-align: center;
}

.ContactUsBannerimage > img {
  height: 100%;
}

.ContactUsBannerContent {
  width: 50%;
}

.ContactUsBannerContent > h1 {
  font-size: 50px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.ContactUsBannerContent > div {
  height: 1px;
  width: 60%;
  background-color: gray;
}

.ContactUsBannerContent > p {
  font-size: 16px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.ContactUsBannerContent > button {
  font-size: 18px;
  font-weight: 600;
  background: #ef4c23;
  color: white;
  cursor: pointer;

  margin-top: 2%;
  padding: 10px 50px;

  border-radius: 100px;
  border: 2px solid #ef4c23;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ContactUsBannerContent > button:hover {
  color: #ef4c23;
  background: white;
}

.ContactUsBanneranimated-title {
  font-size: 40px;
  position: relative;
  color: #ef4c23;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.ContactUsBanneranimatedtitle::after {
  content: "|";
  position: absolute;
  font-size: 40px;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  background-color: #f5f5f5;
  color: #393939;
  animation: animateTitle 10s linear infinite, caret 1s infinite;
}

@keyframes animateTitle {
  0% {
    width: 100%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
