/* for laptop and any type of wide screen use responsive only */
@media only screen and (min-width:769px){
.newAbout {
  width: 100%;
  height: 600px;
  background-image: url("/Images/about/newcurve.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position:bottom;
  background-origin: border-box;
  position: relative;
}
.newAbout > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.aboutContent {
  width: 50%;
  padding: 20px;
  margin-left: 30px;
}
.aboutContent > h1 {
  color: #ef4c23;
  font-size: 40px;
  margin: 5px;
  width: 870px;
}
.aboutContent > p {
 color: #6f6e6d;
  font-size: 16px;
}

.aboutStats{
  text-align: center;
  border-radius: 25px;
  
}
.aboutStats>img{
 width: 50px;
  
  
}
#aboutStats1>img{
 width: 50px;
 margin-right: 10px;
 
  
}
#aboutStats2>img{
 width: 50px;
 margin-right: 23px;
 
  
}
#aboutStats2>p{
 margin-right: 23px;
 
  
}

 
#aboutStats1{
  position: absolute;
  bottom: 0%;
  left: 13%;
}
#aboutStats2{
  position: absolute;
  bottom: 16%;
  left: 44%;
}
#aboutStats3{
  position: absolute;
  top: 10%;
  right: 8%;
}
.aboutStats>h1{
 font-size: 60px;
 color: #ef4c23;
text-align: center;
}
.aboutStats>p{
 font-size: 18px;
 font-weight: 500;
 color: #6f6e6d;
}
#aboutStats2>h1{
 font-size: 90px;
 color: #ef4c23;
text-align: center;
}
#aboutStats2>p{
 font-size: 18px;
 font-weight: 500;
}
}


/* for mobile responsive */


@media only screen and (min-width:0px) and (max-width:376px){

  .newAbout {
    width: 100%;
    height: 400px;
    background-image: url("/Images/about/newcurve.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:bottom;
    background-origin: border-box;
    position: relative;
  }
  .newAbout > img {
    width: 70%;
    height: 50%;
    object-fit: contain;
  }
  
  .aboutContent {
    width: 50%;
    padding: 20px;
    margin-left: 30px;
  }
  .aboutContent > h1 {
    color: #ef4c23;
    font-size: 20px;
    margin: 5px;
    width: fit-content;
  }
  .aboutContent > p {
   color: #6f6e6d;
    font-size: 12px;
    width: 100%;
    text-align: justify;
  }
  
  .aboutStats{
    text-align: center;
    border-radius: 25px;
    
  }
  .aboutStats>img{
   width: 50px;
    
    
  }
  #aboutStats1>img{
   width: 50px;
   margin-right: 10px;
   
    
  }
  #aboutStats2>img{
   width: 50px;
   margin-right: 23px;
   
    
  }
  #aboutStats2>p{
   margin-right: 14px;
   
    
  }
  
   
  #aboutStats1{
    position: absolute;
    bottom: 0%;
    left: 1%;
  }
  #aboutStats2{
    position: absolute;
    bottom: 15%;
    left: 44%;
  }
  #aboutStats3{
    position: absolute;
    top: 10%;
  right: 2%;
  }
  .aboutStats>h1{
   font-size: 20px;
   color: #ef4c23;
  text-align: center;
  z-index: -1;
  top: 5%;
  }
  .aboutStats>p{
   font-size: 14px;
  
   font-weight: 500;
   color: #6f6e6d;
   position: absolute;
   margin-top: -20%;
  }
  #aboutStats2>h1{
   font-size: 40px;
   color: #ef4c23;
  text-align: center;
  }
  #aboutStats2>p{
   font-size: 14px;
   font-weight: 500;
  }

}


/* for any type of tab responsive */


@media only screen and ( min-width:377px) and (max-width:769px){

  .newAbout {
    width: 100%;
    height: 400px;
    background-image: url("/Images/about/newcurve.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:bottom;
    background-origin: border-box;
    position: relative;
  }
  .newAbout > img {
    width: 90%;
    height: 70%;
    object-fit: contain;
  }
  
  .aboutContent {
    width: 50%;
    padding: 20px;
    margin-left: 30px;
  }
  .aboutContent > h1 {
    color: #ef4c23;
    font-size: 20px;
    margin: 5px;
    width: fit-content;
  }
  .aboutContent > p {
   color: #6f6e6d;
    font-size: 12px;
    width: 100%;
    text-align: justify;
  }
  
  .aboutStats{
    text-align: center;
    border-radius: 25px;

    
  }
  .aboutStats>img{
   width: 50px;
    
    
  }
  #aboutStats1>img{
   width: 50px;
   margin-right: 10px;

   
    
  }
  #aboutStats2>img{
   width: 50px;
   margin-right: 23px;
   
    
  }
  #aboutStats2>p{
   margin-right: 14px;
   
    
  }
  
   
  #aboutStats1{
    position: absolute;
    bottom: 3%;
    left: 15%;
       
  
  }
  #aboutStats2{
    position: absolute;
    bottom: 15%;
    left: 44%;
  }
  #aboutStats3{
    position: absolute;
    top: 10%;
   right: 15%;
 
  }
  .aboutStats>h1{
   font-size: 20px;
   color: #ef4c23;
  text-align: center;
  z-index: -1;
  top: 5%;

  }
  .aboutStats>p{
   font-size: 14px;
  
   font-weight: 500;
   color: #6f6e6d;
   position: absolute;
   margin-top: -20%;
  }
  #aboutStats2>h1{
   font-size: 40px;
   color: #ef4c23;
  text-align: center;
  }
  #aboutStats2>p{
   font-size: 14px;
   font-weight: 500;
  }

}